# OSX       taken from: https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
# ----------------------------------------------------------------------------------------------
.DS_Store

tmux/plugins/

autoload/
plugged/
backups/
